<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155740124188-bjnrgfqtv17ckkp0h6ctevokeq3f1mj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155740124188-bjnrgfqtv17ckkp0h6ctevokeq3f1mj0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>155740124188-caaj60qck5f6m8jil0jhnlg5gvdmpfbb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADzy2ZSGY6zHr8BoWwRg_Gdpb17XgVksE</string>
	<key>GCM_SENDER_ID</key>
	<string>155740124188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ema</string>
	<key>PROJECT_ID</key>
	<string>emailpasswordauth-56e32</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpasswordauth-56e32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155740124188:ios:21f2d842215e3ba03b9bd9</string>
</dict>
</plist>